<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>doxshare</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />    
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body >
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">doxshare</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/homepage">NEW LOAN</a></li>                  
                    <li><a href="/uploadpage">SETTINGS</a></li>
                    <li><a href="https://doxshare.herokuapp.com">LOGOUT</a></li>

                </ul>
            </div>
           
        </div>
    </div>
   <!--/.NAVBAR END-->
        
       <section id="home" class="text-center">
                        <div class="item active">
                            <div class="carousel-inner">
                                <!-- <img class="fluidimage" src="assets/img/doxshare1.jpg" alt=""/> -->
                                    <div id="primary">
                                        <!-- <p>Primary Sidebar</p> -->
                                        <div id="leftsidepadding">
                                            <form method="post" action="/upload">
                                                <input type="text" name="folder_name">
                                                <input id="createpadding" type="submit" class="btn btn-primary" value="CREATE NEW FOLDER">
                                            </form>  
                                        </div>
                                        
                                        <div id="uploadpadding">
                                            <input type="submit" class="btn btn-primary" value="UPLOAD">
                                        </div>
                                        
                                        <!-- Split button -->
                                        <div id="uploadpadding">
                                        <div class="btn-group" id="btn-dropdown">
                                          <button type="button" class="btn btn-default" id="btn-dropdown">Clients</button>
                                          <button type="button" class="btn btn-default dropdown-toggle" id="btn-dropdown" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Jane Cheng</a></li>
                                            <li><a href="#">Cary M. Cheng</a></li>
                                            <li><a href="#">Matt Damon</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Delete Client</a></li>
                                          </ul>
                                        </div>
                                        </div>
                                       
                                    </div>
                                    
                                    <!-- MIDDLE PADDING COMMENTS -->
                                    <div id="content">
                                        <div id="middlepadding">
                                            <h3>Share Folder</h3>
                                            {{#each folders}}
                                            <form method="post" action="/sharedlink">
                                                {{name}}
                                                {{#if shared_link_gen}}
                                                    <input type="text" value={{link}}>
                                                    <!-- <label class='btn btn-danger'>Shared link generated: {{link}}</label>  -->
                                                    <a type="btn btn-primary" href="{{link}}">ACCESS FOLDER</a>
                                                    
                                                {{else}}
                                                    <label class='btn btn-danger'>No shared link generated</label>
                                                    <script type="text/javascript">
                                                        // document.getElementById('createButton').style.visibility='hidden';
                                                    </script>
                                                {{/if}}
                                                <input id="createButton" type="submit" class="btn btn-primary" value="CREATE SHARED LINK" >
                                                <input type="hidden" name="id" value={{id}}>
                                                <input type="hidden" name="_method" value="PUT">
                                            </form><br>             
                                            {{/each}}
                                        </div>

                                    </div>
                                    
                                    <!-- RIGHT MOST COLUMN TO DISPLAY CHECKLIST -->
                                    <div id="secondary">

                                        <div id="rightpadding">
                                                                                <!-- <h4>
                                            Result of the class form</h4> -->
                                        <div class="alert alert-info2">
                                            <div class="form">
                                                <label class="control-label">Required Dox Checklist</label>
                                                <label class="checkbox">
                                                    <input value="1" type="checkbox">Business Plan
                                                </label>
                                                <label class="checkbox">
                                                    <input value="2" type="checkbox">Personal Credit Report
                                                </label>
                                                <label class="checkbox">
                                                    <input value="3" type="checkbox">Business Credit Report
                                                </label>
                                                <label class="checkbox">
                                                    <input value="4" type="checkbox">Financial Statements
                                                </label>
                                                <label class="checkbox">
                                                    <input value="5" type="checkbox">Income Tax Returns
                                                </label>
                                                <label class="checkbox">
                                                    <input value="6" type="checkbox">Commercial Leases
                                                </label>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="UPDATE">
                                    </div>
                                        </div>

                            </div>              
                        </div> 
            
       </section>
    <!--/.SLIDESHOW END-->

<!--     {{#each folders}}
        <form method="post" action="/sharedlink">
            {{name}}
            {{#if shared_link_gen}}
                <label class='btn btn-danger'>Shared link generated: {{link}}</label> <a href="{{link}}">link</a>
            {{else}}
                <label class='btn btn-danger'>No shared link generated</label>
            {{/if}}
            <input type="submit" class="btn btn-primary" value="CREATE SHARED LINK" >
            <input type="hidden" name="id" value={{id}}>
            <input type="hidden" name="_method" value="PUT">

        </form>               

    {{/each}} -->
       

    
     <!--/.CLIENTS END-->
    <section id="footer-sec" >
             
            <div class="container">
           <div class="row  pad-bottom-upload" >
            <div class="col-md-4">
                <h4> <strong>ABOUT US</strong> </h4>
                            <p>
                                Let us do the work for you! Share important financial
                                documents in a safe, secure, and simple manner,
                                straight from the comfort of your home.
                            </p>
                <a href="#" >read more</a>
                </div>
               <div class="col-md-4">
                    <h4> <strong>SOCIAL LINKS</strong> </h4>
                   <p>
                     <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>  
                       <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>  
                   </p>
                </div>
               <div class="col-md-4">
                   <h4> <strong>OUR LOCATION</strong> </h4>
                            <p>
                               418 Martens Avenue,  <br />
                               Mountain View, CA  <br />
                               94040
                            </p>
                    <a href="#" class="btn btn-primary" >SEND QUERY</a>
                </div>
               </div>
            </div>
    </section>         
    <!--/.FOOTER END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/plugins/bootstrap.js"></script>
  <!-- CUSTOM SCRIPTS  -->
    <script type="text/javascript">
        // $(document).ready(function(){
        //     console.log('wefwef');
            
        //     $("a.create_folder").click(function(){
        //         $.ajax({
        //             url: "https://api.box.com/2.0/folders",
        //             headers: {"Authorization" : "QHWElUnXkWtn7tlnYOYIy92nAZaMFwd3"},
        //             type: "post",
        //             data: {
        //                 'name': 'Test Folder 4', 
        //                 'parent': {'id':'0'}
        //             },
        //             dataType: "json",
        //             success: function(data){
        //                 console.log(data);
        //             }
        //         })
        //     })
        // })
    </script>

</body>
</html>

